######################## GNU General Public License 2.0 ########################
##                                                                            ##
## Copyright (C) 2022 Kevin Matthes                                           ##
##                                                                            ##
## This program is free software; you can redistribute it and/or modify       ##
## it under the terms of the GNU General Public License as published by       ##
## the Free Software Foundation; either version 2 of the License, or          ##
## (at your option) any later version.                                        ##
##                                                                            ##
## This program is distributed in the hope that it will be useful,            ##
## but WITHOUT ANY WARRANTY; without even the implied warranty of             ##
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the              ##
## GNU General Public License for more details.                               ##
##                                                                            ##
## You should have received a copy of the GNU General Public License along    ##
## with this program; if not, write to the Free Software Foundation, Inc.,    ##
## 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.                ##
##                                                                            ##
################################################################################

################################################################################
##
##  AUTHOR      Kevin Matthes
##  BRIEF       Settings for the Git repository.
##  COPYRIGHT   (C) 2022 Kevin Matthes.
##              This file is licensed GPL 2 as of June 1991.
##  DATE        2022
##  FILE        .gitignore
##  NOTE        See `LICENSE' for full license.
##              See `README.md' for project details.
##
################################################################################

# Build artifacts.
build/
*.a
*.bak
*.dll
*.hi
*.lib
*.o
*.obj
*.so

# Documentation artifacts.
*.pdf

# Doxygen / Haddock directories.
html/
latex/

# LaTeX artifacts.
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lol
*.lot
*.out
*.run.xml
*.synctex(busy)
*.synctex.gz
*.tdo
*.toc

################################################################################
